body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.item-image-small {
    display: inline-block;
    width: 150px;
    height: auto;
    vertical-align: top;
}

.item-header {
    margin-top: 0;
}

.item-summary {
    display: inline-block;
    vertical-align: top;
}

.item-property {
    display: block;
    color: #5475a6;
}

.item-details {
    margin-top: 1em;
}

.item-sold {
    color: #f00;
}

.item-list {
    margin-top: 1em;
    padding-left: 0;
    list-style-type: none;
    font-size: 16px;
    width: auto;
}

.item-list li {
    margin-top: 2em;
}

.item-list li:first-child {
    margin-top: 0;
}

.result-success,
.result-error {
    margin: 1em 0;
}

.result-success {
    color: #0c0;
}

.result-error {
    color: #f00;
}

.button-remove,
.button-details,
.button-add,
.button-order {
    display: block;
    margin-top: 0.5em;
    color: #c00;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.order-header {
    margin-top: 2em;
}

.order-property {
    display: block;
    width: 450px;
    margin-top: 1em;
}

.order-property-field {
    float: right;
    width: 300px;
}

.button-order {
    color: inherit;
}